{% extends 'base.html' %}

{% block content %}
    <div class="mx-auto" style="width: 900px;">
        <h1> Address Book Application </h1>
        <div class="form">
            <form name='ageForm' action="/addressbook" method="POST">
                <table class="table table-borderless" >
                    <tr> 
                        <td> <label > Please enter your Name :</label> </td> 
                        <td> <input type="text" name="name" id="name"> </td>
                    </tr>
                    <tr> 
                        <td> <label > Please enter your Phone :</label> </td> 
                        <td> <input type="number" name="phone" id="phone"> </td>
                    </tr>
                    <tr>
                        <td colspan="2">  <input type="submit" value="Submit"></td>
                    </tr>
                </table>
            </form>
        </div>

        <h2> Address Book </h2>

        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>ID</th>
                <th>Delete</th>
            </tr>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.id }}</td>
                    <td> <a href="/addressbook?action=delete&id={{contact.id}}">Delete</a>  </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
