<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Home Page </title>
    </head>
    <body>
        <h1> Age Page!</h1>
        <form name='ageForm' action="/age" method="POST">
            <label > Please enter your Age:</label>
            <input type="number" name="age" id="age">
            <input type="submit" value="Submit">
        </form>
        <h2> Age you entered was : {{ age }}</h2>
    </body>
</html>